/*** portlet cards**/
.card .card-header.note-toolbar {
	padding: 0.5rem 1rem;
}
.note-popover .popover-content > .btn-group,
.card-header.note-toolbar > .btn-group {
	margin-top: 2px;
	margin-bottom: 2px;
}
.card {
	background-color: $white;
	border-color: $border !important;
	border-radius: 4px;
	.card-header {
		background-color: transparent;
		border-bottom: 1px solid $border;
		padding-top: 0.75rem;
		padding-bottom: 0.75rem;
		-webkit-box-align: center !important;
		-ms-flex-align: center !important;
		align-items: center !important;
		-webkit-box-pack: center !important;
		-ms-flex-pack: center !important;
		justify-content: flex-center !important;
		-webkit-box-orient: horizontal !important;
		-webkit-box-direction: normal !important;
		-ms-flex-direction: row !important;
		flex-direction: row !important;
		display: -webkit-box !important;
		display: -ms-flexbox !important;
		display: flex !important;
		.card-title,
		h4 {
			margin: 0px;
			line-height: 1;
			font-weight: 600;
			color: inherit;
		}
	}
}

/**pricing cards**/
.pricing-card-title {
	font-weight: 700;
}
.card-deck.card-pricing {
	.card {
		position: relative;
		overflow: hidden;
		.card-header {
			display: block !important;
			.best-value {
				font-size: 9px;
				background-color: $primary;
				color: $primary-active;
				padding: 0.4rem 1.75rem;
				color: #fff;
				position: absolute;
				left: -25px;
				top: 10px;
				transform: rotate(-45deg);
			}
		}
	}
}
.best-value-card {
	.card-header,
	.pricing-card-title {
		color: $primary;
	}
}
.dropzone {
	border-color: $border;
}
