/*
page breadcrumbs
*/
.page-subheader {
	padding-top: 1rem;
	padding-bottom: 1.5rem;
	position: relative;
	background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff),
		linear-gradient(70deg, $light 10%, $light);
	.title-lg {
		text-transform: capitalize;
		font-weight: 400;
	}
	.breadcrumb {
		.breadcrumb-item {
			color: inherit;
			i.mr-2 {
				margin-right: 0 !important;
			}
			&.active {
				opacity: 0.6;
			}
		}
	}
}

.page-subheader-center {
	padding-bottom: 2rem;
	margin-bottom: 2rem;
	padding-top: 5rem;
	background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff),
		linear-gradient(70deg, $light 10%, $light);
	text-align: center;
}
