$font-primary: "Open Sans", sans-serif;
$primary: #70b6f7;
$primary-light: #e3f1fe;
$primary-active: #4795de;
$success: #30e149;
$success-light: #daffdf;
$success-active: #1ec536;
$danger: #f57062;
$danger-light: #fcf0ef;
$danger-active: #de5345;
$warning: #f1ea7b;
$warning-light: #fdfbda;
$warning-active: #e3dc66;
$info: #85ddf0;
$info-light: #def9ff;
$info-active: #9a8f57;
$dark: #2c2d3a;
$dark-light: #cacad1;
$dark-active: #262734;
$border: #edf2f4;
$faded: #edf2f4;
$faded-active: #e8edf0;
$white: #fff;
$light: #f2f6f8;
$light-active: #edf2f4;
$secondary: #a8adb9;
$secondary-light: #ebeced;
$secondary-active: #828897;
$text-heading: #182359;
$text-body: #9ba4ae;
$text-light: #868aa8;
