.container {
	background-color: rgb(255, 255, 255);
	height: 100%;
	flex: 1;
	font-family: "SF Pro Display Regular";
}

.flex_alignItemsCenter_JustifyContentBetween {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.flex_alignItemsCenter_JustifyContentEnd {
	display: flex;
	justify-content: end;
	align-items: center;
}
