.container {
	position: relative;
	height: 35px;
	border: 0;
	border-radius: 10px;
	background-color: #ffffff;
}

.btn_icon_conatiner {
	position: absolute !important;
	right: 10px;
	position: inherit;
	align-self: center;
	padding: 0 5px 0 15px;
}

.icon {
	font-weight: bold;
	color: #638DFF;
	font-size: 16px;
}

.search_input {
	height: 35px;
	margin: 0;
	border: 1px solid #dedede;
	width: 250px;
	border-radius: 10px;
}

.search_input:focus {
	border: 1px solid #638DFF !important;
	box-shadow: none !important;
}
