/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* The ckContainer */
.ckContainer {
    display: block;
    position: relative;
    padding-left: 38px;
    margin-bottom: 0;
    cursor: pointer;
    font-family: SF Pro Text Regular;
    font-size: 14px;
    color: #2c2f44;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ckContainer .boxContainer {
    position: absolute;
    width: 38px;
    height: 38px;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 50%;
}

.ckContainer .forHoverEffect {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.ckContainer:hover input:enabled~.forHoverEffect {
    background-color: rgb(196 216 255 / 18%) !important;
}

/* Hide the browser's default checkbox */
.ckContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* Create a custom checkbox */
.ckContainer .checkmark {
    position: absolute;
    border-radius: 4px;
    width: 20px;
    height: 20px;
    border: solid 1px #c4d8ff;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* When the checkbox is checked, add a blue background */
.ckContainer input:checked~.checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.ckContainer .checkmark::after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.ckContainer input:checked~.checkmark::after {
    display: block;
    width: 18px;
    height: 18px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 5c-.28 0-.53.11-.71.29L7 9.59l-2.29-2.3a1.003 1.003 0 00-1.42 1.42l3 3c.18.18.43.29.71.29s.53-.11.71-.29l5-5A1.003 1.003 0 0012 5z' fill='%23fff'/%3E%3C/svg%3E");
    content: "";
}

.ckContainer input:checked~.checkmark {
    border-radius: 4px;
    border: solid 1px #c4d8ff;
    background-color: #638dff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, .1)), to(hsla(0, 0%, 100%, 0)));
    background-image: -o-linear-gradient(top, hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, 0));
    background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, 0));
}

.ckContainer input:disabled~.checkmark {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: rgb(0 0 0 / 12%);
}