._1H7C6 {
	margin-left: 18%;
	width: 300px;
	height: auto;
	margin-bottom: 10%;
	margin-top: 10%;
}
._1H7C6 > hr {
	display: none;
}
._Adysl {
	display: none;
}
.react-sip-phone > div {
	height: 170px !important;
}
