.video-conf-div {
	/* width: 60vw; */
	/* width: 100%; */
	background-color: #44485a;
	/* display: grid; */
	text-align: center;
	/* grid-template-rows: 4fr 1fr; */
	/* height: 65vh; */
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.center-items {
	/*display: grid;*/
	text-align: center;
	align-items: center;
	justify-content: center;
}

.video-conf-calling-div {
	color: #fff;
	display: grid;
	background-color: #44485a;
}

.calling-participant-name {
	background-color: rgba(42, 45, 60, 0.8);
	color: #fff;
	padding: 0.7em;
	border-radius: 2rem;
	border: solid 1px rgba(42, 45, 60, 0.8);
	margin-top: 0.5rem;
	font-size: 0.6rem;
}

.video-conf-controls-div {
	background-color: #2a2d3c;
	padding: 1em;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	font-size: 0.6rem;
	color: #fff;
	column-gap: 4rem;
}

.video-conf-controls-persons-div {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	justify-content: center;
}

.video-conf-controls-video-div {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	justify-content: center;
}

.video-conf-controls-settings-div {
	display: grid;
	grid-template-columns: 1fr;
	align-items: center;
	/* justify-content: center; */
	justify-items: flex-end;
}

.p1em {
	padding: 0.6em;
}
.text-white {
	color: #ddd;
}

.icon-block {
	display: block;
	width: 2rem;
	height: 2rem;
	color: #eee;
	margin: 0 auto;
}

.icon-non-rounded {
	width: 1.5rem;
	height: 1.5rem;
}

.icon-rounded {
	border-radius: 50%;
	border: solid 1px #eee;
	padding: 0.3rem;
	background-color: #eee;
	color: #b0b0b0 !important;
}

.hand-cursor {
	cursor: pointer;
	text-align: center;
}

.hand-cursor:hover {
	opacity: 0.7;
}

.icon-div {
	display: grid;
	align-items: center;
	justify-content: center;
	font-family: inherit !important;
	grid-gap: 0.5rem;
	font-size: 0.6rem;
	width: 4.5rem;
}

.exit-icon {
	background-color: #dc143c;
	border: solid 1px #dc143c;
	color: #eee !important;
}

.text-center {
	text-align: center;
}

.caller-video-div {
	align-self: flex-end;
	justify-self: start;
	display: grid;
}

.person-calling-div {
	justify-self: center;
	align-self: center;
	margin-top: 15%;
	transform: translateY(-50%);
}

.person-calling-image-div {
	display: flex;
	align-items: center;
	justify-content: center;
}
.call-duration-span {
	border-radius: 5px;
	padding: 0.5em;
	background-color: #2a2d3c;
	color: #fff;

	z-index: 1;
	position: absolute;
	top: 10px;
	right: 10px;

	font-size: 0.7rem;
	box-shadow: 0 0 11px 0 rgba(68, 72, 90, 0.2), 0 0 10px 0 #2a2d3c;
	border: solid 1.8px #44485a;
}

.person-name {
	position: absolute;
	z-index: 2;
	border-radius: 10px;
	box-shadow: 0 0 11px 0 rgba(68, 72, 90, 0.2);
	background-color: rgba(42, 45, 60, 0.8);
	padding: 0.2em 0.6em;
}

.initials-div {
	display: grid;
	width: 50px;
	height: 50px;
	color: #fff;
	border-radius: 50%;
	margin: 0 auto;
	text-align: center;
	align-items: center;
}

.queue-container {
	display: flex;
	flex-direction: column;
	position: relative;
	align-items: center;
}

.spinner {
	margin: 100px auto 0;
	width: 55vw;
	height: 14vh;
	text-align: center;
}

.spinner > div {
	width: 3rem;
	height: 3rem;
	margin: 0 0.8rem;
	background-color: #363a4a;

	border-radius: 100%;
	display: inline-block;
	/* -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both; */
	animation: sk-bouncedelay 2.8s infinite ease-in-out both;
}

.spinner .bounce1 {
	/* -webkit-animation-delay: -0.32s; */
	animation-delay: 0.32s;
}

.spinner .bounce2 {
	/* -webkit-animation-delay: -0.16s; */
	animation-delay: 0.16s;
}

/* @-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
} */

@keyframes sk-bouncedelay {
	0%,
	80%,
	100% {
		/* -webkit-transform: scale(0); */
		transform: scale(0);
	}
	40% {
		/* -webkit-transform: scale(1.0); */
		transform: scale(1);
	}
}
.queue-number {
	position: absolute;
	border-radius: 50%;
	background-color: #2a2b3c;
	color: #fff;
	padding: 1rem;
	width: 5rem;
	height: 5rem;

	display: flex;
	justify-content: center;
	top: 40%;
	z-index: 3;

	font-size: 2rem;
	font-weight: 700;
}

.queue-number-one {
	background-color: #2fc76f;
}
.queue-number-one::after,
.queue-number-one::before {
	content: "";
	width: 11px;
	height: 11px;
	background-color: #37f687;
	position: absolute;
	z-index: 2;
	clip-path: polygon(
		50% 0%,
		35% 33%,
		0% 50%,
		35% 59%,
		50% 100%,
		65% 59%,
		100% 50%,
		65% 33%
	);
}

.queue-number-one::before {
	right: 1rem;
	top: -2px;
	transform: scale(2);
}

.queue-number-one::after {
	bottom: 2px;
	left: 1rem;
	transform: scale(1.5);
}

.queue-title {
	text-transform: uppercase;
	color: #2fc76f;
}

.block-span-center-text {
	display: block;
	text-align: center;
}

.queue-number-one-text {
	margin-top: 5px;
	margin-bottom: 2px;
	font-weight: 500;
}

.queue-text {
	/* background-color: #44485a; */
	color: #fff;
	position: absolute;
	z-index: 1;
	bottom: -46%;
	padding: 1em;
	font-size: 0.7rem;
}

/* #frontm.modal-dialog {
	left: 30rem;
	margin: inherit;
} */
