/*
Invention admin - Bootstrap Admin template
Version - v1.0
Author - design_mylife
*/
/*wizard custom style file**/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,700,800");
.wizard-steps {
	position: relative;
	overflow: hidden;
	z-index: 9;
}
.wizard-steps > li {
	background-color: #f2f6f8;
	padding: 0.75rem 1rem;
	font-size: 0.875rem;
}
.wizard-steps > li:first-child {
	border-top-left-radius: 4px;
}
.wizard-steps > li:last-child {
	border-top-right-radius: 4px;
}
.wizard-steps > li.done {
	background-color: #daffdf;
	color: #30e149 !important;
}
.wizard-steps > li.current {
	background-color: #e3f1fe;
	color: #70b6f7 !important;
}
.wizard-steps > li > i {
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
	position: relative;
	margin-top: -1px;
}

.wizard-pane {
	padding: 0px;
}

.wizard-content {
	padding: 0.5rem 1rem;
	background-color: #fff;
	border: 0px;
	box-shadow: 0px 0px 2px 0px #edf2f4;
}

.wizard-buttons {
	float: right;
	margin-top: 1rem;
	margin-right: 1rem;
	margin-bottom: 1rem;
}
.wizard-buttons > a {
	padding: 0rem 1.25rem;
	height: 2rem;
	line-height: 2rem;
	border-radius: 4px;
	margin-left: 0px;
	margin-right: 0px;
	display: inline-block;
}
.wizard-buttons > a.hide {
	display: none;
}
.wizard-buttons > a.wizard-next {
	background-color: #70b6f7;
	border-color: rgba(71, 149, 222, 0.35);
	color: #fff;
}
.wizard-buttons > a.wizard-next:hover:not(.disabled),
.wizard-buttons > a.wizard-next:focus:not(.disabled) {
	color: #e3f1fe;
	background-color: #4795de;
}
.wizard-buttons > a.wizard-back {
	background-color: #e3f1fe;
	border-color: rgba(112, 182, 247, 0.35);
	color: #4795de;
}
.wizard-buttons > a.wizard-back:hover:not(.disabled),
.wizard-buttons > a.wizard-back:focus:not(.disabled) {
	color: #e3f1fe;
	background-color: rgba(112, 182, 247, 0.45);
}
.wizard-buttons > a.wizard-finish {
	background-color: #30e149;
	border-color: rgba(30, 197, 54, 0.35);
	color: #fff;
}
.wizard-buttons > a + a {
	margin-left: 0.5rem;
}
