.Contact-contentarea {
	display: flex;
	flex: 1;
}

.Contacts-seracharea {
	display: flex;
	flex: 1;
	flex-direction: column;
}
.Contacts-results {
	display: flex;
	flex: 1;
	flex-direction: column;
	height: 100px;
	overflow-y: scroll;
}
.Contacts-loading {
	position: absolute;
	top: 50%;
	left: 50%;
}

.Contacts-hover {
}
.Contacts-add {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s linear 300ms, opacity 300ms;
	z-index: 1200;
}
li.Contacts-hover:hover > div.Contacts-add {
	visibility: visible;
	box-shadow: 1px 1px 2px 2px #ccc;
	opacity: 1;
	transition: visibility 0s linear 0s, opacity 300ms;
}
