.Logged-main {
	flex: 1;
	display: flex;
	width: 100%;
	animation: fadeout 1s;
}

@keyframes fadeout {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@media all and (min-width: 500px) and (max-width: 900px) and (orientation: landscape) {
	.Logged-main {
		display: flex;
		align-items: center;
		justify-content: center;
		background: rgb(9, 97, 121);
		background: linear-gradient(90deg,
				rgba(9, 97, 121, 1) 0%,
				rgba(4, 118, 193, 1) 100%,
				rgba(25, 200, 212, 1) 100%,
				rgba(115, 174, 215, 1) 100%);
		width: 100vw;
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		animation: fadein 1s;
	}

	@keyframes fadein {
		from {
			opacity: 0;
		}

		to {
			opacity: 1;
		}
	}
}

.Logged-content {
	flex: 1;
	display: flex;
	flex-direction: column;
	overflow-y: hidden;
}

@media all and (min-width: 500px) and (max-width: 850px) and (max-height: 500px) and (orientation: landscape) {
	.Logged-content {
		display: none;
	}
}

.mobile-landscape-hidden {
	display: none;
}

@media all and (min-width: 500px) and (max-width: 850px) and (max-height: 500px) and (orientation: landscape) {
	.mobile-landscape-hidden {
		display: flex;
		align-items: center;
		justify-content: center;
		color: white;
		/* border: solid; */
		height: 100vw;
	}

	.text-landscape {
		transform: rotate(0deg);
	}
}

.Logged-content-container {
	flex: 1;
	overflow: hidden;
}

.Logged-navbar {
	position: relative;
	display: block !important;
	z-index: 750;
	opacity: 1;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	width: 200px;
	/*width: 4rem;*/
}

.Logged-navbar>* {
	width: inherit;
	margin: 0;
	overflow: hidden;
	height: 100%;
}

.Logged-content {
	flex: 1;
	overflow: hidden;
}

.Logged-contentarea {
	display: flex;
	/* flex: 1; */
	height: calc(100vh - 72px);
	height: calc(100vh - var(--vh-offset, 0px) - 2.5rem);
	transition: height 0.2s linear;
}

/* .Logged-content .navbar:hover ~ .Logged-contentarea {
	height: calc(100vh - var(--vh-offset, 0px) - 4.5rem);
} */

@-moz-document url-prefix() {
	.Logged-contentarea {
		display: flex;
		/* flex: 1; */
		height: calc(100vh - 72px);
		height: calc(100vh - var(--vh-offset, 0px) - 72px);
		overflow-y: hidden;
	}
}

.Logged-contentarea-hidden {
	display: flex;
	/* flex: 1; */
	height: 100vh;
	height: calc(100vh - var(--vh-offset, 0px));
	overflow: hidden;
}

@-moz-document url-prefix() {
	.Logged-contentarea-hidden {
		display: flex;
		/* flex: 1; */
		height: 100vh;
		height: calc(100vh - var(--vh-offset, 0px));
		overflow-y: hidden;
	}
}

.Logged-sidebar {
	display: flex;
	flex-direction: column;
	position: relative;
	z-index: 500;
	width: 280px;
}

.Logged-messages {
	display: flex;
	flex-direction: column;
	width: 100%;
	position: relative;
}

.Logged-chatarea {
	display: flex;
	flex-direction: column;
	position: relative;
	flex: 1;
}

/* Collapsable Sidebar   */

.collapsable-sidebar {
	height: 25px;
	width: 26px;
	border-radius: 0 100px 100px 0;
	background-color: #00bdf2;
	position: absolute;
	bottom: 25px;
}

.collapsable-sidebar img {
	height: inherit;
	width: inherit;
	margin-left: 5px;
	margin-top: 4px;
}

.collapsable-top-navbar {
	position: absolute;
}

.collapsable-top-navbar img {
	height: inherit;
	width: inherit;
}

@media (max-width: 767px) {
	.Logged-navbar {
		display: block !important;
		opacity: 0;
		position: relative;
		z-index: 750;
		opacity: 1;
		transition: all 0.3s;
		-webkit-transition: all 0.3s;
		width: 200px;
	}

	.Logged-navbar>* {
		width: inherit;
		margin: 0;
		overflow: hidden;
		height: 100%;
	}
}

.Profile-popover {
	display: flex;
	flex-direction: column;
	flex: 1;
	/*background-color: #2d313b;*/
	background-color: #2d313b;
	margin-right: 2px;
	border-radius: 5px;
}

.User-info {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex: 1;
	margin: 15px;
}

.Profile-gutter {
	border-bottom: 1px solid #494f5e;
	width: 100%;
	margin-top: 10px;
}

.Profile-logout {
	color: #c7cdda;
	font-weight: 700;
}

.rectangle-copy {
	height: 1px;
	width: 200px;
	background-color: #3b3e4e;
}

.sidebar-brand {
	filter: grayscale(1);
	transition: all 0.2s;
}

.sidebar-brand:hover {
	filter: none;
}

.combined-shape {
	height: 6px;
	width: 10px;
	transform: scaleX(-1);
	background-color: #00bdf2;
	box-shadow: 0 0 4px 0 #00a7d6;
	position: absolute;
	/* margin-left: -10px; */
	margin: 0px -13px;
	vertical-align: middle;
	border-radius: 50%;
	display: none;
}

.notify-message {
	background-color: red;
	color: white;
	width: 15px;
	height: 15px;
	font-size: 0.6rem;
}

/*.appnav-link + ul {*/
/*display: none;*/
/*}*/

/*.appnav-link-active + ul {*/
/*display: block !important;*/
/*}*/
.profileDetailsViewHeight {
	position: relative;

	/* height: 80vh; */
	/* height: 90vh; */

	height: calc(100vh - 72px);
}

.profileDetailsViewHeight img {
	max-height: 160px;
}

@media screen and (max-width: 1400px) {
	.profileDetailsViewHeight {
		position: relative;

		height: 75vh;
	}
}

/* 
@media (max-width: 600px) {
  .Logged-contentarea {
    display: flex;
    
    height: calc(100vh - 72px);
    height: calc(100vh - var(--vh-offset, 0px) - 72px);
  }
  @-moz-document url-prefix() {
    .Logged-contentarea {
      display: flex;
      
      height: calc(100vh - 72px);
      height: calc(100vh - var(--vh-offset, 0px) - 72px);
      overflow-y: scroll;
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .Logged-contentarea {
    display: flex;
    
    height: calc(100vh - 72px);
    height: calc(100vh - var(--vh-offset, 0px) - 72px);
  }
  @-moz-document url-prefix() {
    .Logged-contentarea {
      display: flex;
      
      height: calc(100vh - 72px);
      height: calc(100vh - var(--vh-offset, 0px) - 72px);
      overflow-y: scroll;
    }
  }
} */

.dropdownToggle {
	background: transparent !important;
	border: none !important;
}

.dropdownToggle img {
	max-height: 32px;
}

.breadcrumb {
	background-color: transparent;
}

.breadcrumb-item {
	text-decoration: underline;
}

.breadcrumb-item.active {
	text-decoration: none !important;
}

.breadcrumb-item>a {
	color: #747480;
}

.breadcrumb-item>a:hover {
	color: #2dc0ef;
}

.breadcrumb-item+.breadcrumb-item::before {
	content: ">";
}